{% extends "mch_link/base.html" %} {% load static %}
{% block topic2 %}

{% if user.is_authenticated %}
<div class="row ">

  ยินดีต้อนรับ คุณ: {{ user.first_name }} {{ user.last_name }}
</div>



{% else %}
<h2>เข้าสู่ระบบเพื่อใช้งาน</h2>
{% endif %}

{% endblock %}
{% block profile_loginname %}
{% if user.is_authenticated %}
User: {{ user.first_name }} {{ user.last_name }}

{% endif %}
{% endblock %}



{% block all_content %}
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <header class="card-heading ">
        <h2 class="card-title">โปรแกรมสนับสนุน</h2>
        <ul class="card-actions icons right-top">
          <li>
            <a href="javascript:void(0)" data-toggle-view="code">
              <i class="zmdi zmdi-code"></i>
            </a>
          </li>
        </ul>
      </header>
      <div class="card-body">
        <div class="list-group m-t-40">
          <div class="list-group-item">
            <div class="row-action-primary">
              <a href="http://61.19.33.102/smo">
                <img src="{% static "/img/smartoffice_logo.png" %}" alt="contact person" class="img-circle circle"></a>
            </div>
            <div class="row-content">

              <h4 class="list-group-item-heading">Smart Office</h4>
              <p class="list-group-item-text">โปรแกรมสำหรับรับส่งเอกสาร และจัดการระบบสำนักงาน</p>
            </div>
          </div>

        </div>
      </div>

      </div>
      </div>
      </div>  
      {% endblock %}